<script type="text/javascript">
    window.dinnrUrl = "<%= image_url('logo-text.png') %>"
    window.userProfileUrl = "<%= image_url('profile-icon.png') %>"
    window.searchUrl = "<%= image_url('search-icon.png') %>"
    window.calendarUrl = "<%= image_url('calendar-icon.png') %>"
    window.clockUrl = "<%= image_url('clock-icon.png') %>"
    window.peopleUrl = "<%= image_url('people-icon.png') %>"
    window.arrowUrl = "<%= image_url('arrow-icon.png') %>"
    window.githubUrl = "<%= image_url('github.png') %>"
    window.linkedinUrl = "<%= image_url('linkedin.png') %>"
    window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
</script>

<% if logged_in? %>
    <script type='text/javascript'>
        window.currentUser = <%= render('/api/users/user.json.jbuilder', user: current_user).html_safe %>
    </script>
<% end %>
<main id='root'>React is broken</main>