<!DOCTYPE html>
<html>
  <head>
    <title>Dinnr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="Dinnr">
    <meta property="og:image" content="https://media.giphy.com/media/bZTkf9bpxZi8LOSIQn/giphy.gif">
    <meta property="og:description" content="A single-page fullstack clone of OpenTable where users can find top rated restaurants near them and make a reservation to dine in. Built with Ruby on Rails and React/Redux.">
    <meta property="og:url" content="https://dinnr-aa.herokuapp.com/#/">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('mini-logo.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
